<!DOCTYPE HTML>
<html>
	<head>
		<title>Farmer's Market - Buyer Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
        <!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
                            <a href="{% url 'admin_panel' %}" class="logo"> <!-- change to the name of the main page file -->
                                <span class="symbol"><img src="{% static 'assets/images/logo.svg' %}" alt="" /></span><span class="title">Farmer's Market by Team D</span>
                            </a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                            </div>
                        </header>
                <!-- Menu -->
                <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                        
                        <li><a href="{% url 'admin_panel' %}">Home</a></li> <!-- change to the name of the main page file -->
                        <li><a href="{% url 'login'%}">Log into Your Account</a></li> <!-- change to the naem of the login page file -->
                    </ul>
                </nav>

                <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <h1>Buyer Profile</h1>
                        <div class="table-wrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Description</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Buyer ID</td>
                                            <td><input type="text" name="buyer_id" id="buyer_id" value="{{ buyer.buyer_id }}" placeholder="Buyer ID" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Buyer Name</td>
                                            <td><input type="text" name="user_name" id="user_name" value="{{ buyer.user_name }}" placeholder="Buyer Name" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Buyer Rating</td>
                                            <td><input type="text" name="buyer_rating" id="buyer_rating" value="{{ buyer.buyer_rating }}" placeholder="Buyer Rating" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Total Orders</td>
                                            <td><input type="text" name="total_orders" id="total_orders" value="{{ buyer.total_orders }}" placeholder="Total Orders" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Delivery Preference</td>
                                            <td><input type="text" name="prefferred_delivery_type" id="prefferred_delivery_type" value="{{ buyer.prefferred_delivery_type }}" placeholder="Delivery Preference" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Activity Status</td>
                                            <td><input type="text" name="activity_status" id="activity_status" value="{{ buyer.activity_status }}" placeholder="Activity Status" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><input type="text" name="email" id="email" value="{{ buyer.email }}" placeholder="Email" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td><input type="text" name="mobile_phone" id="mobile_phone" value="{{ buyer.mobile_phone }}" placeholder="Phone" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Telegram</td>
                                            <td><input type="text" name="telegram_id" id="telegram_id" value="{{ buyer.telegram_id }}" placeholder="Telegram" /></td>
                                            <td><ul class="actions">
                                                <a href="" class="button primary">Edit</a>
                                            </ul></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        <ul class="actions">
                            {% if buyer.buyer_id %}
                                <a href="{% url 'delete_buyer' buyer.buyer_id %}" class="button primary">Delete profile</a>
                            {% else %}
                                <a href="#" class="button primary disabled">Delete profile</a>
                            {% endif %}
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'assets/js/browser.min.js' %}"></script>
            <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'assets/js/util.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>