<!DOCTYPE HTML>
<html>
	<head>
		<title>Farmer's Market - Farmer Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
        <!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
                            <a href="{% url 'admin_panel' %}" class="logo"> <!-- change to the name of the main page file -->
                                <span class="symbol"><img src="{% static 'assets/images/logo.svg' %}" alt="" /></span><span class="title">Farmer's Market by Team D</span>
                            </a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                            </div>
                        </header>
                <!-- Menu -->
                <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                        
                        <li><a href="{% url 'admin_panel' %}">Home</a></li> <!-- change to the name of the main page file -->
                        <li><a href="{% url 'login'%}">Log into Your Account</a></li> <!-- change to the naem of the login page file -->
                    </ul>
                </nav>

                <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <h1>Farmer Profile</h1>
                        <div class="table-wrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Description</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <td>Farmer ID</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="farmer_id" id="farmer_id" value="{{ farmer.farmer_id }}" placeholder="Farmer ID" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Farmer Name</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="farmer_name" id="farmer_name" value="{{ farmer.farmer_name }}" placeholder="Farmer Name" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Farmer Niche</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="niche" id="niche" value="{{ farmer.niche }}" placeholder="Farmer Niche" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Total Sold</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="total_sold" id="total_sold" value="{{ farmer.total_sold }}" placeholder="Total Sold" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Farmer Rating</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="farmer_rating" id="farmer_rating" value="{{ farmer.farmer_rating }}" placeholder="Farmer Rating" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Farmer Location</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="farmer_location" id="farmer_location" value="{{ farmer.farmer_location }}" placeholder="Farmer Location" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Farmer Status</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="farmer_status" id="farmer_status" value="{{ farmer.farmer_status }}" placeholder="Farmer Status" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Activity Status</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="activity_status" id="activity_status" value="{{ farmer.activity_status }}" placeholder="Activity Status" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="email" id="email" value="{{ farmer.email }}" placeholder="Email" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Phone</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="mobile_phone" id="mobile_phone" value="{{ farmer.mobile_phone }}" placeholder="Phone" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                            <tr>
                                                <td>Telegram</td>
                                                <td><div class="col-6 col-12-xsmall">
                                                    <input type="text" name="telegram_id" id="telegram_id" value="{{ farmer.telegram_id }}" placeholder="Telegram" />
                                                </div></td>
                                                <td><ul class="actions">
                                                    <a href="{% url 'update_status' farmer.farmer_id %}" class="button primary">Edit</a>
                                                </ul></td>
                                            </tr>
                                    </tbody>
                                </table>
                        </div>
                        <ul class="actions">
                            {% if farmer.farmer_id %}
                            <a href="{% url 'delete_farmer' farmer.farmer_id %}" class="button primary">Delete profile</a>
                            {% else %}
                                <a href="#" class="button primary disabled">Delete profile</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'assets/js/browser.min.js' %}"></script>
            <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'assets/js/util.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>