<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Farmer's Market - Admin Page Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    </head>
<body class="is-preload">
            <div id="wrapper">
                <!-- Header -->
                    <header id="header">
                        <div class="inner">
                            <!-- Logo -->
                                <a href="{% url 'login' %}" class="logo"> <!-- change to the name of the main page file -->
                                    <span class="symbol"><img src="{% static 'assets/images/logo.svg' %}" alt="" /></span><span class="title">Farmer's Market by Team D</span>
							  </a>
                            <!-- Nav -->
                                <nav>
                                    <ul>
                                        <li><a href="#menu">Menu</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </header>
                <!-- Menu -->
                <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="{% url 'login'%}">Log into Your Account</a></li> <!-- change to the naem of the login page file -->
                    </ul>
                </nav>
    <div id="main">
        <div class="inner">
        <h1>Log in to Admin Panel</h1>
        <p>Please fill in your credentials to login to admin page.</p>
<section>
<form method="POST" action="{% url 'login'%}">
    {% csrf_token %}
<div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
                <input type="text" placeholder = "Username" name="username" class="IF U NEED" >
            </div>    
            <div class="col-6 col-12-xsmall">
                <input type="password" placeholder = "Password" name="password" class="IF U NEED">
            </div>
            {% if messages %}
                {% for message in messages %}
                    <h5>{{message}}</h5>
                {% endfor %}
            {% endif %}
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
            <div class="col-6 col-12-xsmall">
            <p>Not an admin? Download the app and start using our Farmer's Market</p>
            <p>Admin but can't log in? Contact our Team and get your log in credentials</p>
        </div>
        </form> </section>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
